body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  display: flex;
}

/*header decoration*/

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  flex-direction: column;
}

/*each row of the calendar */
.rowBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/*save buttone at the end of each row of the calendar */
.saveBox {
  height: 40px;
  width: 65px;
  padding: 10px 0px 10px 10px;
  justify-self: right;
  background-color: #000000;
  color: #ffffff;
  display: flex;
}
/*text input of each row of the calendar */
.inputBox {
  height: 40px;
  width: 600px;
  min-width: 100px;
  padding: 10px 0px 10px 3px;
  display: flex;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
}

/*time slot on each row of the calendar */
.timeBox {
  height: 40px;
  width: 100px;
  text-align: center;
  padding: 10px 0px 10px 10px;
  display: flex;
  background-color: #000000;
  color: #ffffff;
  border-top: 1px dashed #000000;
}

/*color of input box when past the hour*/
.past {
  background-color: #adadad;
  color: #333333;
}

/*color of input box at the present hour*/
.present {
  background-color: #ac3b61;
  color: white;
}

/*color of input box when the hour is in future*/
.future {
  background-color: #123c69;
  color: white;
}
